<div>
    <div><h1>Registrar</h1></div>
    <div>
        <form [formGroup]="form" (submit)="aceptar()">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" readonly>
            <mat-error *ngIf="form.controls['hcodigo'].hasError('required') && form.controls['hcodigo'].touched">
              El código es requerido.
            </mat-error>
          </mat-form-field>
          <br/>
          
          <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres" formControlName="hnombre">
            <mat-error *ngIf="form.controls['hnombre'].hasError('required') && form.controls['hnombre'].touched">
              Los nombres son requeridos.
            </mat-error>
          </mat-form-field>
          <br/>
          
          <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="hapellido">
            <mat-error *ngIf="form.controls['hapellido'].hasError('required') && form.controls['hapellido'].touched">
              Los apellidos son requeridos.
            </mat-error>
          </mat-form-field>
          <br/>
          
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="hemail">
            <mat-error *ngIf="form.controls['hemail'].hasError('required') && form.controls['hemail'].touched">
              El email es requerido.
            </mat-error>
          </mat-form-field>
          <br/>  
          
          <mat-form-field class="example-full-width">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Direccion" formControlName="hdireccion">
            <mat-error *ngIf="form.controls['hdireccion'].hasError('required') && form.controls['hdireccion'].touched">
              La dirección es requerida.
            </mat-error>
          </mat-form-field>
          <br/> 
          
          <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" formControlName="htelefono">
            <mat-error *ngIf="form.controls['htelefono'].hasError('required') && form.controls['htelefono'].touched">
              El teléfono es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 
          
          <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select formControlName="hgenero">
              <mat-option *ngFor="let food of listaGeneros" [value]="food.value">{{food.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['hgenero'].hasError('required') && form.controls['hgenero'].touched">
              El género es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 
          
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Username" formControlName="husername">
            <mat-error *ngIf="form.controls['husername'].hasError('required') && form.controls['husername'].touched">
              El usuario es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 
          
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Password" formControlName="hpassword" type="password">
            <mat-error *ngIf="form.controls['hpassword'].hasError('required') && form.controls['hpassword'].touched">
              La contraseña es requerida.
            </mat-error>
          </mat-form-field>          
          <br/>
          <div>
              <button mat-flat-button>Registrar</button>
          </div>
        </form>
    </div>
</div>
