<div>
    <div><h1>Registrar</h1></div>
    <div>
        <form [formGroup]="form" (submit)="aceptar()">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" readonly>
            <mat-error *ngIf="form.controls['hcodigo'].hasError('required') && form.controls['hcodigo'].touched">
              El código es requerido.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hfecha" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls['hfecha'].hasError('required') && form.controls['hfecha'].touched">
              La fecha es requerida.
          </mat-error>
          </mat-form-field>
          <br/>
          
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="htipo">
              <mat-option *ngFor="let food of listaTipos" [value]="food.value">{{food.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['htipo'].hasError('required') && form.controls['htipo'].touched">
              El tipo es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 

          <mat-form-field class="example-full-width">
            <mat-label>Monto</mat-label>
            <input matInput placeholder="Monto" formControlName="hmonto">
            <mat-error *ngIf="form.controls['hmonto'].hasError('required') && form.controls['hmonto'].touched">
              El comentario es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 

          <mat-form-field class="example-full-width">
            <mat-label>Detalles</mat-label>
            <input matInput placeholder="Detalle" formControlName="hdetalle">
            <mat-error *ngIf="form.controls['hdetalle'].hasError('required') && form.controls['hdetalle'].touched">
              El comentario es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 
          
          <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select formControlName="huser">
              <mat-option *ngFor="let food of listaUsuarios" [value]="food.id">{{food.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['huser'].hasError('required') && form.controls['huser'].touched">
              El usuario es requerido.
            </mat-error>
          </mat-form-field>
          <br/> 

          <div>
              <button mat-flat-button>Registrar</button>
          </div>
        </form>
    </div>
</div>

