<div>
    <div><h1>Registrar</h1></div>
    <div>
        <form [formGroup]="form" (submit)="aceptar()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Nombres" formControlName="hnombre">
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="hemail">
            </mat-form-field>
            <br/>  
            <mat-form-field class="example-full-width">
              <mat-label>Direccion</mat-label>
              <input matInput placeholder="Direccion" formControlName="hdireccion">
            </mat-form-field>
            <br/> 
            <mat-form-field class="example-full-width">
              <mat-label>Telefono</mat-label>
              <input matInput placeholder="Telefono" formControlName="htelefono">
            </mat-form-field>
            <br/> 
            <mat-form-field class="example-full-width">
              <mat-label>Capacidad</mat-label>
              <input matInput placeholder="Capacidad" formControlName="hcapacidad">
            </mat-form-field>
            <br/> 
            <mat-form-field class="example-full-width">
              <mat-label>Apertura</mat-label>
              <input matInput placeholder="Apertura" formControlName="hapertura">
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width">
                <mat-label>Cierre</mat-label>
                <input matInput placeholder="Cierre" formControlName="hcierre">
              </mat-form-field>
              <br/>
              <mat-form-field class="example-full-width">
                <mat-label>WebSite</mat-label>
                <input matInput placeholder="WebSite" formControlName="hweb">
              </mat-form-field>
              <br/>
              <mat-form-field class="example-full-width">
                <mat-label>Acreditacion</mat-label>
                <input matInput placeholder="Acreditacion" formControlName="hacreditacion">
              </mat-form-field>
              <br/>
            <div>
                <button mat-flat-button>Registrar</button>
            </div>
        </form>
    </div>
</div>
